/* Estilo para el contenedor principal */
body{
  background-color: #efefef ;
}
.container1 {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}
/* Estilo para la sección de encabezado */
.header {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto en el encabezado */
    padding: 15px 0; /* Espaciado interno del encabezado */
}

/* Estilo para el contenido */
.content {
    width: 70%;
    padding: 20px; /* Espaciado interno del contenido */
    background-color: #525050; /* Color de fondo del contenido *//* Borde alrededor del contenido */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 20px; /* Espacio entre el encabezado y el contenido */
    height: 77vh;

    overflow-y: auto; /* Habilita la barra de desplazamiento vertical si es necesario */
}

/* Estilo para el pie de página */
.footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto en el pie de página */
    padding: 15px 0; /* Espaciado interno del pie de página */
    margin-top: 20px; /* Espacio entre el contenido y el pie de página */
}

/* Estilo para la barra de navegación horizontal */
nav.horizontal {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #333; /* Color de fondo de la barra de navegación */
    padding: 15px 0; /* Espaciado interno de la barra de navegación */
}

/* Estilo para los elementos de la barra de navegación */
nav.horizontal li {
    margin: 0;
}

/* Estilo para los enlaces dentro de los elementos de la barra de navegación */
nav.horizontal li a:link,
nav.horizontal li a:visited {
    text-decoration: none;
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno del enlace */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Efecto de transición en el cambio de color de fondo */
}

/* Estilo para los enlaces cuando el cursor está sobre ellos */
nav.horizontal li a:hover {
    background-color: #555; /* Nuevo color de fondo al pasar el cursor */
    color: #ffd700; /* Cambio de color del texto al pasar el cursor */
}


input[type="reset"],
input[type="submit"],
input[type="button"] {

    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
}

input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #45a049;
}

/* Agrega un estilo adicional para los mensajes de error o éxito si es necesario */
.error-message {
    color: #ff0000;
    font-size: 14px;
}

.success-message {
    color: #008000;
    font-size: 14px;
}

.form2{
    display: flex;
    flex-direction: column;
    

    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .chartMenu {
    width: 100vw;
    height: 40px;
    background: #1A1A1A;
    color: rgba(54, 162, 235, 1);
  }
  .chartMenu p {
    padding: 10px;
    font-size: 20px;
  }
  .chartCard {
    width: 100%;
    height: calc(80vh - 40px);
    background: rgba(54, 162, 235, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
  }

  .buttons_PAP{
    /* background: rgb(139, 73, 73); */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .costos{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
  }



  /* Estilos para el formulario */
.centered-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.align-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.justify-text{

    text-align: justify;
}

.form3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .form3 div {
    margin-bottom: 10px;
  }
  
  .form3 label {
    display: block;
    font-weight: bold;
  }
  
  .form3 input[type="number"],
  .form3 input[type="text"] {

    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form3 input[type="submit"],
  .form3 input[type="reset"] {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #0b5ed7;
    color: white;
  }
  
  .form3 input[type="submit"]:hover,
  .form3 input[type="reset"]:hover {
    background-color: #45a049;
  }
  
  /* Estilos para la tabla de productos */
  .products_table {
    width: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 20px;
    overflow-x: auto; /* Agregar desplazamiento horizontal */
    white-space: nowrap; /* Evita que los elementos se rompan y hagan salto de línea */
  }
  .informe{
    width: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 20px;/* Agregar desplazamiento horizontal */

  }
  
  
  /* Estilos generales de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  /* Estilos para las celdas de encabezado */
  th {
    background-color: #36738e;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    color: white;
  }
  
  /* Estilos para las celdas de datos */
  td {
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #1A1A1A;
  }
  
  /* Estilo alternado para filas */
  /* tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  /* Estilo al pasar el mouse por las filas */
  tr:hover {
    background-color: #e6f7ff;
  }
  form input[type="number"],
  form input[type="text"] {

    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
/* Estilos para el contenedor principal */
.containerChart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Altura del contenedor */
}

/* Estilos para el contenedor del gráfico */
.chartBox1 {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Estilos para el lienzo del gráfico */
#myChart {
    width: 1700px; /* Ancho del lienzo del gráfico */
    height: 300px; /* Alto del lienzo del gráfico */
}



.bg-green{
  background-color: #76d272;
}
.bg-blue{
  background-color: #0e3d71;
}
.bg-red{
  background-color: #8d1042;
}
.bg-yellow{
  background-color: #f4d279;
}
.bg-orange{
  background-color: #e58634;
}

/* Estilo base para el select */
select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none; /* Para quitar el estilo nativo del navegador en algunos casos */
}

/* Estilo al hacer hover sobre el select */
select:hover {
  border-color: #999;
}

/* Estilo al enfocar el select */
select:focus {
  outline: none; /* Quita el borde de enfoque predeterminado */
  border-color: #555;
  box-shadow: 0 0 5px rgba(85, 85, 85, 0.5); /* Efecto de sombra al enfocar */
}