.container-p {
  display: flex;
  flex-direction: column;
  max-width: auto;
  margin: 50px auto;
}

.arriba {
  display: flex;
}




.izquierda {
  padding: 20px;
  width: 30%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.izquierda form {
  display: flex;
  flex-direction: column;
}

.izquierda div {
  margin-bottom: 20px;
}

.izquierda label {
  font-weight: bold;
  margin-bottom: 5px;
}

.izquierda input[type="number"] {
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.izquierda input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.derecha {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1200px;
}

.canvas-container {
  margin-bottom: 20px;
}


.table_pronosticos {
  width: 100%;
    border-collapse: collapse;
}