<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav class="horizontal">
                <li><a href="javascript:changeContent('Indicadores de preferencia/indicadores_de_preferencia.html')">Indices de preferencia</a></li>
                <li><a href="javascript:changeContent('Diagrama de pareto/diagrama_de_Pareto.html')">Diagramas de pareto</a></li>
                <li><a href="tema 3.html">Tema 3</a></li>
                <li><a href="tema 4.html">Tema 4</a></li>
                <li><a href="javascript:changeContent('pronosticos/pronosticos.html')">Pronosticos</a></li>
            </nav>
        </div>
        <div class="content" id="content">


        </div>
        <div class="footer">

        </div>
    </div>

    <script src="../script/fetch.js"></script>
    <script src="../script/script_indPreferencias.js"></script>
    <script src="../script/script_pareto.js"></script>
    <script src="../script/script_pronosticos.js"></script>



</body>
</html>