<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/stylep.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container">

        <div class="header">
            <nav class="horizontal">
                <li><a href="javascript:changeContent('Indicadores de preferencia/indicadores_de_preferencia.html')">Indices de preferencia</a></li>
                <li><a href="javascript:changeContent('Diagrama de pareto/diagrama_de_Pareto2.html')">Diagramas de pareto</a></li>
                <li><a href="javascript:changeContent('PAP/PAP.php')">Plan de agregado de produccion</a></li>
                <li><a href="javascript:changeContent('pronosticos/pronosticos.html')">Pronosticos</a></li>
                <div class="checkbox-wrapper-64">
                    <label class="switch">
                      <input type="checkbox">
                      <span class="slider"></span>
                    </label>
                  </div>
            </nav>
        </div>
        <div class="content" id="content">


        </div>
        <div class="footer">

        </div>

        
    </div>
    
    <script src="../script/fetch.js"></script>
    <script src="../script/script_indPreferencias.js"></script>
    <script src="../script/script_pareto.js"></script>
    <script src="../script/script_pronosticos.js"></script>
    <script src="../script/script_PAP.js"></script>

    <script type="module">
        import {
            Grid,
            html
        } from "https://unpkg.com/gridjs?module";
    </script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>

</body>
</html>