<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="context">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, blanditiis 
        quos aperiam amet tenetur laborum sapiente commodi corporis reprehenderit adipisci provident 
        tempore, eaque officiis rem quod autem nihil nemo dolores.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora perspiciatis voluptas dignissimos.
         Quae, labore. Animi necessitatibus ab facere voluptatem ducimus vero eaque, placeat dolores, tempore a, magnam reiciendis molestias nam.
        Necessitatibus esse nam minus consequatur sapiente quod. Placeat optio ducimus rem! Nihil, vel iste, hic repudiandae molestias error nemo 
        ad rerum quia iusto beatae soluta similique repellendus ducimus nam temporibus.
        Minus perferendis, sed quae minima similique laudantium nihil, ex delectus ea dolore dolorem quia ullam quam cupiditate reiciendis non exe
        rcitationem. Provident et magnam alias commodi odit error. Temporibus, recusandae reprehenderit!
        Eius soluta porro iure! Molestiae excepturi soluta incidunt facere eligendi doloremque placeat, accusamus fuga, vero non omnis, accusantiu
        m mollitia iusto corporis voluptatum voluptas vitae voluptatibus. Fugit autem perspiciatis sed nesciunt!
        Sapiente non consequuntur sint labore, voluptatibus sequi amet fuga doloribus, explicabo, mollitia vitae officia reiciendis! Accusantium a
        nimi vel quaerat, doloribus praesentium adipisci eius hic eveniet, nobis possimus quidem ab libero!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolorem consequuntur enim in odit nostrum 
        minima animi est repudiandae cum laudantium asperiores earum id placeat, iure, quidem quo saepe architecto.
        Impedit dicta laudantium aperiam inventore, quo eius voluptatum consequuntur porro iste possimus cupiditate vit
        ae perferendis asperiores nemo expedita amet a neque sunt alias obcaecati vero distinctio aliquid. Aperiam, ipsum quia?
        Debitis quia magni nostrum! Sequi provident excepturi veritatis nam voluptate officia totam corporis sapiente s
        unt autem. Ex hic, vel fuga illo odit corporis error, eveniet voluptas perspiciatis quos animi corrupti?
        Eos dolorem soluta nulla iure, repellendus veritatis vel, tempora, a libero inventore officia recusandae. Quia 
        repudiandae, deserunt explicabo, tempore sed beatae nobis sapiente quisquam corrupti ipsa possimus officiis nostrum quaerat.
    </div>
    <br>
    <div>
        <div>¿Con cuantos productos cuenta?</div>
        <form action="javascript:loadTable('Indicadores de preferencia/tabla.php')" method="get" id="form_products">
            <div>
                <label for="products">Introduzca los productos con los que cuenta</label>
                <input type="number" name="products" id="products">
            </div>
            <input type="reset" value="Limpiar">
            <input type="submit" value="Enviar">
        </form>
    </div>
    <br>
    <div class="products_table" id="products_table">

    </div>
    <script src="../script/script1.js"></script>
</body>
</html>