<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div class="context">
        
        <h1>Indicadores de Preferencia en Sistemas de Procesos y Producción</h1>
        <p>Los indicadores de preferencia son cruciales para entender las necesidades de los clientes. Algunos ejemplos
            son:</p>
        <ul>
            <li><strong>Calidad del producto:</strong> Evaluación de la calidad percibida por los clientes.</li>
            <li><strong>Tiempo de entrega:</strong> Medición del período entre el pedido y la entrega.</li>
            <li><strong>Personalización:</strong> Adaptación de productos o servicios a necesidades individuales.</li>
            <li><strong>Sostenibilidad:</strong> Enfoque en prácticas responsables con el medio ambiente.</li>
            <li><strong>Costo:</strong> Importancia del precio para los consumidores.</li>
        </ul>
        <p>Estos indicadores ayudan a las empresas a mejorar la calidad y adaptar sus procesos para satisfacer las
            preferencias de los clientes.</p>
           <center> <img src="../images/indicePre.jpg" alt="imagen de indices preferencias"></center>
            <br>
        <h2>Toca ponerse en practica!!</h2>
        <p>Lo primero que necesitamos saber para calcular los indicadores de preferencia son la cantidad de productos con las que cuentas:</p>


    </div >

    <div class="centered-content">
        <form class="form3" action="javascript:loadTable_indices('Indicadores de preferencia/tabla.php')" method="get"id="form_products">

        <div class="centered-content">
            <label for="products">Introduzca los productos con los que cuenta</label>
            <input type="number" name="products" id="products">
        </div>
        <div class="centered-content">
            <input type="reset" value="Limpiar">
            <input type="submit" value="Enviar">
        </div>
        
    </form>
    </div>
       

    <div class="products_table" id="products_table">

    </div>
    <div class="informe" id="informe_indiceP">
        
    </div>

    <script src="../script/script1.js"></script>
</body>

</html>