<div class="container-p">
    <div class="row">
        <div class="three columns">
            <form action="javascript:loadTable_pronosticos('pronosticos/tablap.php')" method="get"
                id="form_pronosticos">

                <div>
                    <label for="pronosticos">Introduzca los periodos para realizar el pronóstico:</label>
                    <input type="number" name="pronosticos" id="pronosticos" required min="3">
                </div>                
                <div>
                    <input type="submit" value="Enviar">
                </div>
            </form>
            <div class="pronosticos_table" id="form_pronosticos_table"></div>
        </div>
        <div class="">
            <div>
            </div>
            <div class="pronosticos_table" id="promediomovilsimple_table"></div>
            <div id="promediomovilponderado_table"></div>
            <div id="ses_table"></div>
            <div class="pronosticos_table" id="sed_table"></div>
            <div class="pronosticos_table" id="winters_table"></div>
            <div id="rl_table"></div>
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

<!-- 
    Answer
La diferencia principal entre el promedio móvil simple y el promedio móvil ponderado radica en la forma en que se calculan y asignan pesos a los valores en una serie de datos.
El promedio móvil simple se calcula sumando todos los valores de una serie de datos y dividiendo el resultado por el número total de valores en la serie. En este tipo de promedio, todos los valores tienen un peso igual en el cálculo del promedio
1
.
Por otro lado, el promedio móvil ponderado es un tipo de promedio móvil en el que se asignan diferentes pesos (ponderaciones) a los valores de una serie de datos. Estos pesos pueden ser determinados por el usuario o pueden ser calculados basándose en la importancia relativa de cada valor en la serie de datos
1
.
En resumen, el promedio móvil simple asigna igual importancia a todos los valores en una serie de datos, mientras que el promedio móvil ponderado permite asignar diferentes pesos a los valores, lo que refleja su importancia relativa -->