<div class="container-p">
    <div class="row">
        <div class="three columns">
            <form action="javascript:loadTable_pronosticos('pronosticos/tablap.php')" method="get"
                id="form_pronosticos">

                <div>
                    <label for="pronosticos">Introduzca los periodos para realizar el pronóstico:</label>
                    <input type="number" name="pronosticos" id="pronosticos" required min="3">
                </div>                
                <div>
                    <input type="submit" value="Enviar">
                </div>
            </form>
            <div class="pronosticos_table" id="form_pronosticos_table"></div>
        </div>
        <div class="">
            <div>
            </div>
            <div class="pronosticos_table" id="promediomovilsimple_table"></div>
            <div id="promediomovilponderado_table"></div>
            <div id="ses_table"></div>
            <div class="pronosticos_table" id="sed_table"></div>
            <div class="pronosticos_table" id="winters_table"></div>
            <div id="rl_table"></div>
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>